In [28]:

import pandas as pd
import numpy as np

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [30]:
data = pd.read_csv("C:\\Users\\hp\\Downloads\\WineQT.csv")

In [31]:
data.head(5)
data = data.drop('Id', axis = 1)

In [32]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [33]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000
mean,8.311111,0.531339,0.268364,2.532152,0.086933,15.615486,45.914698,0.996730,3.311015,0.657708,10.442111,5.657043
std,1.747595,0.179633,0.196686,1.355917,0.047267,10.250486,32.782130,0.001925,0.156664,0.170399,1.082196,0.805824
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.392500,0.090000,1.900000,0.070000,7.000000,21.000000,0.995570,3.205000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000
75%,9.100000,0.640000,0.420000,2.600000,0.090000,21.000000,61.000000,0.997845,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [34]:
data['quality'].value_counts()

quality
5    483
6    462
7    143
4     33
8     16
3      6
Name: count, dtype: int64

In [35]:
'''
data = data.drop('Id', axis = 1)
print(data)'''

"\ndata = data.drop('Id', axis = 1)\nprint(data)"

In [36]:
x_train = data.drop('quality', axis = 1)
y_train = data['quality']

In [37]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2

In [38]:

print("y_train",y_train)

y_train 0       5
1       5
2       5
3       6
4       5
       ..
1138    6
1139    6
1140    5
1141    6
1142    5
Name: quality, Length: 1143, dtype: int64

In [40]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x_train,y_train,test_size=0.25,random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape
print('x_train',x_train)
print('y_train',y_train)

x_train['alcohol']

x_train       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
970             7.3             0.740         0.08             1.7      0.094
72              8.1             0.575         0.22             2.1      0.077
665            10.1             0.430         0.40             2.6      0.092
584            12.9             0.500         0.55             2.8      0.072
649             8.4             0.360         0.32             2.2      0.081
...             ...               ...          ...             ...        ...
1044            6.7             1.040         0.08             2.3      0.067
1095            8.0             0.390         0.30             1.9      0.074
1130            7.4             0.350         0.33             2.4      0.068
860             7.9             0.570         0.31             2.0      0.079
1126            7.5             0.520         0.40             2.2      0.060

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
970                  10.0                  45.0  0.99576  3.24       0.50
72                   12.0                  65.0  0.99670  3.29       0.51
665                  13.0                  52.0  0.99834  3.22       0.64
584                   7.0                  24.0  1.00012  3.09       0.68
649                  32.0                  79.0  0.99640  3.30       0.72
...                   ...                   ...      ...   ...        ...
1044                 19.0                  32.0  0.99648  3.52       0.57
1095                 32.0                  84.0  0.99717  3.39       0.61
1130                  9.0                  26.0  0.99470  3.36       0.60
860                  10.0                  79.0  0.99677  3.29       0.69
1126                 12.0                  20.0  0.99474  3.26       0.64

      alcohol
970       9.8
72        9.2
665      10.0
584      10.9
649      11.0
...       ...
1044     11.0
1095      9.0
1130     11.9
860       9.5
1126     11.8

[857 rows x 11 columns]
y_train 970     5
72      5
665     7
584     6
649     6
       ..
1044    4
1095    5
1130    6
860     6
1126    6
Name: quality, Length: 857, dtype: int64

970      9.8
72       9.2
665     10.0
584     10.9
649     11.0
        ...
1044    11.0
1095     9.0
1130    11.9
860      9.5
1126    11.8
Name: alcohol, Length: 857, dtype: float64

In [46]:
from sklearn.linear_model import LinearRegression
import pickle
linear_classifier = LinearRegression()          #Defining the model
linear_classifier.fit(x_train, y_train)         #Training the model
 #saving the model
pickle.dump(linear_classifier,open("wine_qualityprediction.pickle",'wb'))

In [47]:

print('pirnt',x_test['alcohol'])

pirnt 158      9.500000
1081     9.233333
291     10.500000
538      9.100000
367     11.900000
          ...
813     11.800000
213      9.900000
120      9.100000
1026    11.066667
667     12.000000
Name: alcohol, Length: 286, dtype: float64

In [48]:
print(y_test)

158     5
1081    6
291     5
538     6
367     6
       ..
813     7
213     5
120     4
1026    6
667     7
Name: quality, Length: 286, dtype: int64

In [49]:
y_predict = linear_classifier.predict(x_test)

In [50]:
y_predict_rounded = np.round(y_predict).astype(int)

In [51]:
print(y_predict_rounded)

[5 5 5 5 6 7 5 5 6 5 6 6 5 6 6 5 6 6 6 6 6 6 5 6 6 5 7 6 5 6 6 5 7 6 6 5 5
 6 7 7 6 5 7 5 5 5 6 6 5 6 6 5 6 6 6 6 5 6 6 5 6 6 6 6 6 5 7 5 5 6 6 5 6 6
 5 5 6 6 6 5 5 6 6 5 6 6 5 6 6 5 5 6 5 5 5 5 5 7 6 6 6 6 5 6 5 5 6 6 6 7 6
 5 5 6 5 5 5 6 6 5 5 5 6 7 5 6 6 6 5 6 5 5 6 6 8 5 4 6 6 6 7 5 6 5 6 5 5 5
 5 5 7 5 6 5 6 6 5 6 6 6 6 5 6 6 6 5 6 6 6 5 7 5 5 6 5 5 6 6 6 5 6 6 6 5 5
 6 6 5 6 6 6 6 7 6 6 5 5 7 7 6 6 6 5 5 6 6 5 5 6 6 5 6 6 6 5 5 6 5 6 6 6 5
 5 6 5 6 5 5 6 6 6 6 5 5 6 7 5 6 6 5 6 6 6 5 6 6 5 6 6 5 5 5 6 6 5 6 6 6 5
 5 6 5 6 5 5 5 6 6 5 6 5 7 6 6 5 6 5 6 5 6 5 6 5 5 6 7]

In [52]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_predict_rounded)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 63.29%